<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header" th:remove="tag">
        <title>ThyDbAdmin</title>
        <link rel="stylesheet" href="/css/thy-db-admin.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script type="application/javascript"
                src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="application/javascript"
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>
</head>
<body>
</body>
</html>
