<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ThyDbAdmin</title>
</head>
<body>
<div th:fragment="tableList">
    <div th:replace="fragments/query::query"></div>
    <span th:if="${#lists.isEmpty(data)}">Keine Daten</span>
    <table style="width:100%; border: 1px solid black;" th:if="${not #lists.isEmpty(data)}">
        <tr>
            <th th:each="col : ${columns}"><span th:text="${col}"></span></th>
        </tr>
        <tr th:each="row : ${data}">
            <th th:each="col : ${row}"><span th:text="${col.value}"></span></th>
        </tr>
    </table>
</div>
</body>
</html>
