<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/thyDbAheader :: header">
</head>
<body>
<th:block th:replace="fragments/thyDbAnav :: nav"></th:block>
<div class="container mt-3">
    <th:block th:fragment="tableList">
        <th:block th:fragment="tableList">
            <th:block th:replace="fragments/thyDbAquery::query"></th:block>
            <div th:each="table : ${tables}" class="list-group">
                <a th:text="${table}" th:href="'thyDbAdmin/table/' + ${table}"
                   class="list-group-item list-group-item-action"></a>
            </div>
        </th:block>
    </th:block>
</div>
</body>
</html>
